{% extends 'blog/base.html' %}




{% block content %}

  
<h2 class="kala">Blog Home</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for post in posts %}

    <div class="col-md-3 mt-4">
      <div class="card h-100">
        <a href="{% url 'post-detail' post.id %}">
          <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.project_name }}">
        </a>
        <div class="card-body">
          <h5 class="card-title border-bottom">{{ post.project_name }}</h5>
          <p class="card-text"><img class="rounded-circle" style="height: 2em; height: 2em;" src="{{ post.author.profile.profile_img.url }}" alt="">
            By <a href="{% url 'profile' %}"><strong>{{ post.author }}</strong></a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted" style="float: right;">{{ post.date_posted|date:'F d, Y' }}</small>
        </div>
      </div>
    </div>


  {% endfor %}

</div>


  <!-- Start of the image cards -->
  

{% endblock content %}