{% extends 'blog/base.html' %}




{% block content %}

<!-- View style for a single post -->


<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 pt-5">

      <div class="row z-depth-3">
        
        <div class="col-sm-8 bg-transparent rounded-left mx-auto border">
          <div class="card-block pt-3">
            <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.project_name }}">
            <h5 class="card-title border-bottom pt-3 pb-3">{{ object.project_name }}</h5>
            <p class="card-text"><img class="rounded-circle" style="height: 2em; height: 2em;" src="{{ object.author.profile.profile_img.url }}" alt="">
              By <a href="{% url 'profile' %}"><strong>{{ object.author }}</strong></a>
            </p>
            <div class="card-footer">
              <small class="text-muted" style="float: right;">{{ object.date_posted|date:'F d, Y' }}</small>
            </div>        
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


  <!-- Start of the image cards -->
  

{% endblock content %}