{% extends 'blog/base.html' %}


{% load crispy_forms_tags %}


{% block content %}


  <!-- Form start -->
  <div class="content-section container mt-5">

    <div class="row">

      <div class="col-center-box mx-auto" style="background: #ffffff;
      padding: 10px 20px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      margin-bottom: 20px;">

        <form method="POST" action="" enctype="multipart/form-data">
          
          {% csrf_token %}
    
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">
              ADD YOUR SITE!
            </legend>
    
            {{ form|crispy }}
          </fieldset>
    
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
              ADD
            </button>
          </div>
    
        </form>
  
      </div>

    </div>

  </div>

{% endblock content %}