{% extends 'blog/base.html' %}


{% load crispy_forms_tags %}


{% block content %}


  <!-- Form start -->
  <div class="content-section container mt-5">

    <div class="row">

      <div class="col-center-box mx-auto" style="background: #ffffff;
      padding: 10px 20px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      margin-bottom: 20px;">

        <form method="POST" action="">
          {% csrf_token %}
    
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">
              Login
            </legend>
    
            {{ form|crispy }}
          </fieldset>
    
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
              LOGIN
            </button>
            <small class="text-muted ml-2">
              <a href="{% url 'password-reset' %}">
                Forgot password?
              </a>
            </small>
          </div>
    
        </form>
    
        <div class="border-top pt-3">
    
          <small class="text-muted">
            Don't have an account?<a href="{% url 'register' %}" class="ml-2">Register</a>
          </small>
    
        </div>
  
      </div>

    </div>

  </div>

{% endblock content %}