{% extends 'blog/base.html' %}




{% block content %}

  <h1 class="text-center">Blog Register Page</h1>


  <!-- Form start -->
  <div class="content-section container" style="background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;">

    <div class="row">

      <div class="col-center-box mx-auto">

        <form method="POST" action="">
          {% csrf_token %}
    
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">
              Join Today
            </legend>
    
            {{ form }}
          </fieldset>
    
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
              REGISTER
            </button>
          </div>
    
        </form>
    
        <div class="border-top pt-3">
    
          <small class="text-muted">
            Already have an account?<a href="#" class="ml-2">Sign in</a>
          </small>
    
        </div>
  
      </div>

    </div>

  </div>

{% endblock content %}